<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Member">
    <!-- call Member.selectMember -->
    <select id="selectMember" parameterType="Map" resultType="Map">
        SELECT * FROM USERS
    </select>

    <!-- call Member.deleteByUID -->
    <delete id="deleteByUID" parameterType="Map">
        DELETE FROM USERS
        WHERE USER_ID = #{COMMON_CODE_ID}
    </delete>

    <!-- call Member.updateByUID -->
    <update id="updateByUID" parameterType="Map">
        UPDATE USERS
        SET PRIVILEGES=PRIVILEGES, 
        WHERE USER_ID = #{COMMON_CODE_ID}
    </update>
</mapper>