<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Survey">

    <!-- call Survey.selectQuestion -->
    <select id="selectQuestion" parameterType="Map" resultType="Map">
        SELECT * FROM QUESTION
    </select>

    <!-- call Survey.selectAnswer -->
    <select id="selectAnswer" parameterType="Map" resultType="Map">
        SELECT * FROM ANSWER
    </select>

    <!-- call Survey.selectUSERS -->
    <select id="selectUSERS" parameterType="Map" resultType="Map">
        SELECT * FROM USERS
    </select>
</mapper>